<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(activeTab)"></div>
<h1 class="margin-auto">Welcome to GainzPad!</h1>

<div>
    <ul>
        <li>Create training routines</li>
        <li>Track them during your workout</li>
        <li>Track your daily calorie intake</li>
    </ul>
</div>

<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>
