<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg">
<head th:replace="~{fragments/head :: head}"></head>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar(activeTab)}"></div>

<div class="container mt-4">
    <h1>Тренировки</h1>
    <a th:href="@{/workouts/new}" class="btn btn-primary mb-3">Добави тренировка</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Име</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workout : ${workouts}">
            <td th:text="${workout.workoutName}">Workout Name</td>
            <td>
                <a th:href="@{|/workouts/${workout.id}|}" class="btn btn-info btn-sm">Преглед</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>
