<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body class="text-white" style="background-image: url('/img/gallery/loginbg.jpg'); background-size: auto; background-position: center; background-repeat: no-repeat">

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/delete-confirm :: deleteModal}"></div>

<div class="container mt-4">
  <h1 class="text-white">Trainers' Workouts</h1>
  <br>
  <a th:href="@{/trainers-workouts/new}"
     class="btn mb-3"
     sec:authorize="hasRole('ADMIN') or hasRole('TRAINER')">Add workout</a>

  <table class="table table-striped" style="font-size: 1.5rem">
    <thead>
    <tr>
      <th>Name</th>
      <th>Coach</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody style="background-color: #232323">
    <tr th:each="workout : ${workouts}">
      <td th:text="${workout.workoutName}">Workout Name</td>
      <td th:text="${workout.coachName}">Coach</td>
      <td>
        <a th:href="@{|/trainers-workouts/${workout.id}|}" class="btn btn-sm">View</a>
        <a th:href="@{|/trainers-workouts/edit/${workout.id}|}" class="btn btn-sm"
        sec:authorize="hasRole('ADMIN')">Edit</a>
        <a href="#"
           class="btn btn-sm"
           data-bs-toggle="modal"
           data-bs-target="#confirmDeleteModal"
           th:attr="data-workout-id=${workout.id}, data-workout-name=${workout.workoutName}"
           sec:authorize="hasRole('ADMIN')">
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  var confirmDeleteModal = document.getElementById('confirmDeleteModal');
  confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var workoutId = button.getAttribute('data-workout-id');
    var workoutName = button.getAttribute('data-workout-name');

    var modalTitle = confirmDeleteModal.querySelector('#modalWorkoutName');
    modalTitle.textContent = workoutName;

    var form = document.getElementById('deleteWorkoutForm');
    form.action = '/workouts/delete/' + workoutId;
  });
</script>


<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>
