<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg">
<head th:replace="~{fragments/head :: head}"></head>
</head>
<body>
<div class="container mt-4">
    <h2>Добави нова тренировка</h2>

    <form th:action="@{/workouts/new}" th:object="${workout}" method="post">
        <div class="mb-3">
            <label for="workoutName" class="form-label">Име на тренировката</label>
            <input type="text" th:field="*{workoutName}" class="form-control" id="workoutName" placeholder="Пример: Chest Day" required />
        </div>

        <button type="submit" class="btn btn-primary">Запази</button>
        <a th:href="@{/workouts}" class="btn btn-secondary">Отказ</a>
    </form>
</div>

<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>
