<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="editFoodModal">
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:#232323">
                <form id="editForm" th:action="@{/tracker/edit}" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title text-white" id="editModalLabel">Edit food</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="font-size:1.5rem">
                        <input type="hidden" name="id" id="editId"/>
                        <label for="editCalories" class="form-label text-white">Food Name</label>
                        <input type="text" name="foodName" id="editFoodName" class="form-control mb-2" style="font-size:1.5rem" placeholder="Food"/>
                        <label for="editCalories" class="form-label text-white">Calories</label>
                        <input type="number" name="calories" id="editCalories" class="form-control mb-2" style="font-size:1.5rem" placeholder="Calories (100g)"/>
                        <label for="editCarbs" class="form-label text-white">Carbs</label>
                        <input type="number" name="carbs" id="editCarbs" class="form-control mb-2" style="font-size:1.5rem" placeholder="Carbs (100g)"/>
                        <label for="editProtein" class="form-label text-white">Protein</label>
                        <input type="number" name="protein" id="editProtein" class="form-control mb-2" style="font-size:1.5rem" placeholder="Protein (100g)"/>
                        <label for="editFats" class="form-label text-white">Fats</label>
                        <input type="number" name="fats" id="editFats" class="form-control mb-2" style="font-size:1.5rem" placeholder="Fats (100g)"/>
                        <label for="editWeightInGrams" class="form-label text-white">Weight (g)</label>
                        <input type="number" name="weightInGrams" id="editWeightInGrams" class="form-control mb-2" style="font-size:1.5rem" placeholder="Consumed (g)"/>

<!--                        <select name="mealTime" id="editMealTime" class="form-control mb-2" style="font-size:1.5rem">-->
<!--                            <option value="BREAKFAST" class="text-black">Breakfast</option>-->
<!--                            <option value="LUNCH" class="text-black">Lunch</option>-->
<!--                            <option value="DINNER" class="text-black">Dinner</option>-->
<!--                            <option value="SNACK" class="text-black">Snack</option>-->
<!--                        </select>-->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn">Save</button>
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Скрипт за попълване на модала -->
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const editModal = document.getElementById('editModal');
            if (!editModal) return;
            editModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                document.getElementById('editId').value = button.getAttribute('data-id');
                document.getElementById('editFoodName').value = button.getAttribute('data-foodName');
                document.getElementById('editCalories').value = button.getAttribute('data-calories');
                document.getElementById('editCarbs').value = button.getAttribute('data-carbs');
                document.getElementById('editProtein').value = button.getAttribute('data-protein');
                document.getElementById('editFats').value = button.getAttribute('data-fats');
                document.getElementById('editWeightInGrams').value = button.getAttribute('data-weightInGrams');
                document.getElementById('editMealTime').value = button.getAttribute('data-mealTime');
            });
        });
    </script>
</div>
</body>
</html>

