<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body style="background-color: #000000">

<div th:fragment="navbar">
    <div class="container-fluid bg-dark">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2 col-md-1">
                <div class="logo">
                    <a th:href="@{/home}"><img src="/img/logo/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="menu-main d-flex align-items-center justify-content-end">
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav>
                            <ul id="navigation" class="d-flex navbar-links">
                                <li >
                                    <a th:href="@{/trainers-workouts}" class="text-white" style="padding: 39px 15px;font:20px Teko, sans-serif"  >Trainers' Routines</a>
                                </li>
                                <li>
                                    <a th:href="@{/workouts}" class="text-white" style="padding: 39px 15px;font:20px Teko, sans-serif">My Workouts</a>
                                </li>
                                <li>
                                    <a th:href="@{/tracker}" class="text-white" style="padding: 39px 15px;font:20px Teko, sans-serif">Calorie Tracker</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right-btn f-right d-none d-lg-block ms-3">
                        <a th:href="@{/logout}" class="btn">Logout</a>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>
