<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar(activeTab)}"></div>
<h3>Редактирай храна</h3>
<form th:action="@{/tracker/edit}" th:object="${foodEntryDTO}" method="post">
  <input type="hidden" th:field="*{id}" />
  <input type="text" th:field="*{foodName}" placeholder="Храна" />
  <input type="number" th:field="*{calories}" placeholder="Калории (100g)" />
  <input type="number" th:field="*{carbs}" placeholder="Въглехидрати (100g)" />
  <input type="number" th:field="*{protein}" placeholder="Протеин (100g)" />
  <input type="number" th:field="*{fats}" placeholder="Мазнини (100g)" />
  <input type="number" th:field="*{weightInGrams}" placeholder="Изядено (g)" />
  <select th:field="*{mealTime}">
    <option th:value="BREAKFAST">Закуска</option>
    <option th:value="LUNCH">Обяд</option>
    <option th:value="DINNER">Вечеря</option>
    <option th:value="SNACK">Снак</option>
  </select>
  <button type="submit">Запази</button>
  <a href="/tracker">Отказ</a>
</form>

<div th:replace="~{fragments/editFoodModal :: editFoodModal}"></div>

<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>
