<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(activeTab)}"></div>

<div class="container mt-5">
    <h1>Обобщение за деня</h1>
    <h3>Ден: <span th:text="${date}"></span></h3>

    <table class="table">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Изядени</th>
            <th>Цел</th>
            <th>Остатък</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Калории</td>
            <td th:text="${summary.totalCalories}">0</td>
            <td th:text="${summary.caloriesGoal}">2000</td>
            <td th:text="${summary.getCaloriesLeft()}">1000</td>
        </tr>
        <tr>
            <td>Протеини</td>
            <td th:text="${summary.totalProtein}">50</td>
            <td th:text="${summary.proteinGoal}">100</td>
            <td th:text="${summary.getProteinLeft()}">50</td>
        </tr>
        <tr>
            <td>Мазнини</td>
            <td th:text="${summary.totalFats}">30</td>
            <td th:text="${summary.fatsGoal}">70</td>
            <td th:text="${summary.getFatsLeft()}">40</td>
        </tr>
        <tr>
            <td>Въглехидрати</td>
            <td th:text="${summary.totalCarbs}">100</td>
            <td th:text="${summary.carbsGoal}">250</td>
            <td th:text="${summary.getCarbsLeft()}">150</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/bootstrap-js::bootstrap-js}"></div>
</body>
</html>